<div class="container">
    <div class="card">
        <p class="text-center">New post</p>

    <div class="well well-sm">
        <input type="text" ng-model="newpost.heading" placeholder="heading"><br><br>
        <textarea rows="4" cols="50" ng-model="newpost.data" placeholder="data"></textarea><br><br>
        <textarea rows="4" cols="50" ng-model="newpost.para2" placeholder="para2"></textarea><br><br>
        <textarea rows="4" cols="50" ng-model="newpost.para3" placeholder="para3"></textarea><br><br>
        <textarea rows="4" cols="50" ng-model="newpost.para4" placeholder="para4"></textarea><br><br>
        <textarea rows="4" cols="50" ng-model="newpost.para5" placeholder="para5"></textarea><br><br>
        <textarea rows="4" cols="50" ng-model="newpost.para6" placeholder="para6"></textarea><br><br>
        <button class="btn btn-primary" ng-click="newpost.saving()">Add</button><br><br>


    </div></div>



</div>