<div class="container">
    <div class="card">
<div class="well well-sm">
    <input type="text" ng-model="editpost.heading" placeholder="heading"><br><br>
    <textarea rows="4" cols="50" ng-model="editpost.data" placeholder="data" ></textarea><br><br>
    <textarea rows="4" cols="50" ng-model="editpost.para2" placeholder="para2" ></textarea><br><br>
    <textarea rows="4" cols="50" ng-model="editpost.para3" placeholder="para3" ></textarea><br><br>

    <textarea rows="4" cols="50" ng-model="editpost.para4" placeholder="para4" ></textarea><br><br>
    <textarea rows="4" cols="50" ng-model="editpost.para5" placeholder="para5" ></textarea><br><br>
    <textarea rows="4" cols="50" ng-model="editpost.para6" placeholder="para6" ></textarea><br><br>
    <button class="btn btn-primary" ng-click="editpost.editingpost()">Change</button><br><br>


</div></div>


</div>