<div  class="container container-fluid" ng-repeat="post in survey.data">
    
    
    <div class="card col-sm-9 col-lg-9 col-md-9 " style="margin-bottom:10%;border-color:black;box-shadow: 10px 10px">
        <div class="card-header">
          <h1 style="color:black">{{post.heading}}</h1>
        </div>
        <hr>
        <div class="card-block">
          <h4 class="card-title">{{post.data}}</h4>
          <p class="card-text">Author:Salman</p>
          <a href="#/{{post.id}}" class="btn btn-secondary">Read </a>
        </div>
      </div>


</div>