<div class="card">
<h1 class="text-center">{{post.complete.heading}}</h1>
<hr>
<div class="card" style="border-color:black;box-shadow: 10px 10px">
    <h4 style="font-family:cursive">{{post.complete.para2}}</h4><br><br>
    <h4 style="font-family:cursive">{{post.complete.para3}}</h4><br><br>

    <h4 style="font-family:cursive">{{post.complete.para4}}</h4><br><br>
    <h4 style="font-family:cursive">{{post.complete.para5}}</h4><br><br>
    <h4 style="font-family:cursive">{{post.complete.para6}}</h4><br><br>



</div>


</div>